.green{
    font-family: monospace;
    color:green;
}
.yellow{
    font-family: monospace;
    color:yellow;
}
.purple{
    font-family: monospace;
    color:purple;
}
.red{
    font-family: monospace;
    color:red;
}
.blue{
    font-family: monospace;
    color:blue;
}


